.guestPost__logoText {
  font-size: 12px;
  font-weight: 500;
  text-align: end;
  margin-left: 0.7rem;
}

.guestPost__overlay {
  position: relative;
  top: -120px;
  z-index: 10;
  /* margin-top: 140px; */
}

.guestPost__div {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 15px 20px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}

.guestPost {
  height: 260px;
}

.guestPost__img-div {
  height: 40px;
}

.guestPost__img {
  width: 100px;
  height: 25px;
}
