.communityComponent__card {
  padding: 0px;
}

.communityComponent__Header {
  font-weight: bold;
  font-size: 17px;
}

.communityComponent__Link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  text-decoration: none;
  color: #3861fb !important;
}

.communityComponent__guestPost {
  /*border: 1px solid #F0F3F6;
  */
  /* width: 100%; */
  border-bottom: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  /*border-color: #F0F3F6 !important;
  */
  border-radius: 13px;
}

.communityComponent__div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.communityComponent__Link-div {
  font-weight: bold;
  font-size: 12px;
}

.communityComponent__fontawesome-right {
  font-weight: bold;
  font-size: 12px;
  margin-left: 7px;
}
