@media screen and (min-width: 100px) {
  .trendingToken {
    /* width: 665px; */
    /* width: 33%; */
    max-width: 448px;
    height: 200px;
    padding: 16px;
    box-shadow: rgba(88, 102, 126, 0.08) 0px 4px 24px,
      rgba(88, 102, 126, 0.12) 0px 1px 2px;
    border-radius: 8px;
    overflow: hidden;
  }
}
@media screen and (min-width: 576px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
  .trendingToken {
    width: 100%;
    /* width: 33%; */
    max-width: 448px;
    height: 200px;
    padding: 16px;
    box-shadow: rgba(88, 102, 126, 0.08) 0px 4px 24px,
      rgba(88, 102, 126, 0.12) 0px 1px 2px;
    border-radius: 8px;
    overflow: hidden;
  }
}
@media screen and (min-width: 1200px) {
  .trendingToken {
    /* width: 33%; */
    /* width: 448px; */
    width: 420px;
    height: 170px;
    padding: 16px 20px;
    box-shadow: rgba(88, 102, 126, 0.08) 0px 4px 24px,
      rgba(88, 102, 126, 0.12) 0px 1px 2px;
    border-radius: 8px;
    overflow: hidden;
  }

  #trendingIcon {
    width: 20px;
    height: 20px;
    /* vertical-align: ; */
    /* margin-right: 10px; */
  }
  .trendingToken__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .trendingToken__header {
    display: flex;
    align-items: center;
  }
  .trendingToken__trending-text {
    margin-left: 10px;
    font-size: 17px;
    font-weight: bold;
  }
  .trendingToken__link {
    display: flex;
    align-items: center;
    text-decoration: none !important;
    font-weight: bold;
    font-size: 12px;
    color: #3861fb !important;
  }
  .trendingToken__fa-angle-right {
    margin-left: 5px;
    font-weight: bold !important;
    font-size: 12px;
  }
  .trendingToken__token{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    /* margin-left: 10px; */
    font-size: 14px;
  }
  .trendingToken__list-div{
    display: flex;
    list-style:none;
    align-items: start;
    padding-left: 5px;
    /* height: 5px; */

  }
  .trendingToken__index{
    color: #A6B0C3;
  }
  .trendingToken__img{
    position: relative;
    top: 2px;
  }
  .trendingToken__tokenCaret{
    position: relative;
    top: 6px;
  }
  .trendingToken__token-name{
    margin-left: 7px;
  }
}
