.GuestPostUser {
  display: flex;
  margin-top: 10px;
  margin-bottom: 25px;
  margin-left: 20px;
  color: black;
  width: 92%;
  /* overflow: hidden; */
}
.GuestPostUser__div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.GuestPostUser__name-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.GuestPostUser__socials-div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.GuestPostUser__fa-comment-dots {
  color: #808a9d !important;
}

.GuestPostUser__fa-comment-dots:hover {
  color: #3861fa !important;
}

.GuestPostUser__fa-retweet {
  color: #808a9d !important;
}

.GuestPostUser__fa-retweet:hover {
  color: #3861fa !important;
}

.GuestPostUser__fa-heart {
  color: #808a9d !important;
}
.GuestPostUser__fa-heart:hover {
  color: red !important;
}
.dropdown-toggle.caret-off::after {
  display: none !important;
}

.dropdown-toggle:after {
  content: none;
  display: none;
}

.GuestPostUser__dropDown-items {
  position: absolute;
  top: -150px;
  right: 160px;
  z-index: 100 !important;
  width: 235px;
  background-color: white;
  padding: 5px 5px;
  box-shadow: 0px 1px 2px rgba(128, 138, 157, 0.12),
    0px 8px 32px rgba(128, 138, 157, 0.24);
  transition-duration: 300ms;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.GuestPostUser__dropDown-items button:hover {
  background-color: #f8fafd;
  padding: 10px 20px;
  border-radius: 8px;
  width: 220px;
}

.GuestPostUser__dropDown-items button {
  padding: 10px 20px;
  margin: 2px;
}
.GuestPostUser__drop-icon{
  color: #808a9d !important;
  position: relative;
  top: 2px;
}

.GuestPostUser__drop-icon:hover {
  color: #3861fa !important;
}

.GuestPostUser__triangle {
  position: absolute;
  left: 218px;
  top: 99%;
  width: 0px;
  height: 0px;
  border: 8px solid black;
  border-top-color: white;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

@media screen and (min-width: 100px) {
  .GuestPostUser__socials {
    margin-top: 15px;
    margin-right: 100px;
  }
}
@media screen and (min-width: 576px) {
  .GuestPostUser__socials {
    margin-right: 150px;
    width: 200px;
  }
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
  .GuestPostUser__socials {
    margin-right: 250px;
    color: #808a9d;
    font-size: 13px;
    cursor: pointer;
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .GuestPostUser__socials {
    width: unset;
    margin-right: 150px;
  }
}
