.Topnav-container {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding: 10px 25px;
  border-bottom: 1px solid gray;
}
.left-Topnav span {
  color: rgb(56, 97, 251);
  padding-right: 5px;
}
.right-Topnav {
  display: flex;
  /* align-items: center; */
  gap: 0.7rem;
}
.toLeftNav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
  /* border-right: 2px solid rgb(218, 217, 217); */
  /* padding: 0px 30px; */
}
.toLeftNavIcon{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.TopNavBorderRight{
  border-right: 1px solid;
  margin: 9px 0px;
}
.SignUpBtn{
  padding: 0px 12px;
  border-radius: 10px;
  border: 1px;
  background: rgb(56, 97, 251);
  color: #fff;
  font-weight: 600;
  height: 34px;
}
.LogInBtn{
  padding: 0px 12px ;
  border-radius: 10px;
  border: 1px;
  color: rgb(56, 97, 251);
  background: #fff;
  border: 1px solid rgb(56, 97, 251);
 font-weight: 600;
 height: 34px;
}
.navbartoo {
  display: none;
}
.Navbar-wrapper {
  display: flex;
  
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  font-size: 13px;
  font-weight: 500;
  margin: 0px auto;
}
.left-Nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.right-Nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.themeBtn {
  background-color: transparent;
  border: none;
}
.navMenu {
  position: relative;
}

.nav-items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  position: absolute;
  right: 0.2rem;
}
.navbarRight {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {
  .Topnav-container {
    display: none;
  }
  .Navbar-wrapper {
    display: none;
  }
  .navbartoo {
    /* width: 100vw; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    /* position: fixed; */
    /* padding: 2rem; */
  }
}

@media only screen and (max-width: 1340px) {
  .Topnav-container {
    display: none;
  }
  .Navbar-wrapper {
    display: none;
  }
  .navbartoo {
    /* width: 100vw; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;

    /* position: fixed; */
    /* padding: 2rem; */
  }
}
