.lightweightButtonActive {
  letter-spacing: 0.03rem;
  border: 0px;
  font-size: 12px !important;
  font-weight: bold !important;
  line-height: 1.5;
  margin: 0px;
  padding: 6px 10px !important;
  background-color: white;
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.lightweightButton {
  border: 0px;
  font-size: 12px !important;
  font-weight: bold !important;
  padding: 6px 10px !important;
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  margin: 0px;
  letter-spacing: 0.03rem;
}

.lightweightButton:hover {
  letter-spacing: 0.03rem;
  line-height: 1.5;
  margin: 0px;
  border: 0px;
  font-size: 12px !important;
  font-weight: bold !important;
  background-color: white;
  padding: 6px 10px !important;
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
