.main-converter-container {
  flex-direction: column;
}
.converter-container {
  padding: 35px;
}
.converts {
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #f7fafd;
  width: 68%;
  overflow: hidden;
  position: relative;
}
@media (max-width: 600px) {
  .converts {
    flex-direction: column;
    width: 100%;

  }
}
.convert-row-reverse {
  flex-direction: row-reverse;
}
@media (max-width: 600px) {
  .convert-row-reverse {
    flex-direction: column-reverse;
  }
}
.bitcoin-converter {
  column-gap: 20px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}
@media (max-width: 600px) {
  .bitcoin-converter {
    padding: 1rem 2rem !important;
    width: 90%;
  }
}
.grey {
  background-color: rgba(233, 227, 227, 0.611);
}
.img-container {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.btc-converter {
  align-items: center;
  display: flex;
  font-size: 12px;
  color: gray;
  text-transform: uppercase;
}

.converter-btc {
  width: 40px;
}

.converter-bitcoin {
  font-size: 12px;
  text-transform: capitalize;
}

.convert-one {
  display: flex;
  align-items: center;
}

.convert-two {
  background-color: aliceblue;
  width: 50%;
}

/* media query */
.arrow-left-right {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.7rem;
  background-color: rgba(233, 227, 227, 0.611);
  border-radius: 50%;
  cursor: pointer;
}

.converter-input {
  background-color:transparent;
  border: none;
  height: 20px;
  text-align: left;
  font-size: 20px;
}
@media (max-width: 600px) {
  .converter-input {
    width: 50px;
    text-align: right;
  }
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

textarea:focus,
input:focus {
  outline: none;
}

@media (max-width: 600px) {
  .convert-two {
    width: 350px;
  }
  .arrow-left-right {
    top: 40%;
  }
}