.details-page{
    /* background-color: red !important; */
    /* display: none; */
    max-width: 1500px;
    overflow: hidden;
}
.details-page-content{
    width: 100%;
    margin: 0 auto;
}
.details__horizontal-line{
    height: 1px;
    /* width: 100%; */
}