.watchlistPortfolioDiv {
  background-color: #eff2f5 !important;
  /* height: 20px !important; */
  padding: 0px 5px !important;
  font-size: 12px !important;
}
.watchlistPortfolioDiv:hover {
  background-color: #eaedf0 !important;
}

.watchlistPortfolio {
  border: 0px;
  font-size: 12px !important;
  font-weight: bold !important;
  color: black !important;
  /* background-color: #EFF2F5; */
  /* color:black !important; */
  padding: 7.5px 5px !important;
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  margin: 0px;
  letter-spacing: 0.03rem;
  /* color: red !important; */
}

.watchlistPortfolio:hover {
  letter-spacing: 0.03rem;
  line-height: 1.5;
  margin: 0px;
  border: 0px;
  font-size: 12px !important;
  font-weight: bold !important;
  color: black !important;
  /* background-color: #EAEDF0; */
  padding: 7.5px 5px !important;
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
}

/* .watchlistButton:active{
    border: 0px;
    font-size: 13px !important;
    font-weight: bold !important;
    color:blue !important;
    padding: 5px;
} */
